<div class="container">
  <el-row>
    <h2 class="p-2">Tạo phiếu yêu cầu thực tập</h2>
    <el-form :model="createForm" label-width="9rem">
      <el-col :span="12">
        <el-form-item label="Tên phiếu yêu cầu :" class="form-group">
          <el-input type="text" v-model="createForm.name" name="name" required />
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item label="Số lượng cần tuyển :" class="form-group">
          <el-input type="text" v-model="createForm.amount" required />
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item label="Vị trí cần tuyển :" class="form-group">
          <el-input type="text" v-model="createForm.position" required />
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item label="Hình thức làm việc :" class="form-group">
          <el-radio-group v-model="createForm.type" class="form-radio-item">
            <el-radio name="Fulltime" value="fulltime">Fulltime</el-radio>
            <el-radio name="Partime" value="partime" >Partime</el-radio>
          </el-radio-group>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item label="Trạng thái phiếu :" class="form-group">
          <el-select v-model="createForm.status" placeholder="">
            <el-option value></el-option>
            <el-option value="1" label="Còn hiệu lực"></el-option>
            <el-option value="2" label="Hết hiệu lực"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item label="Chọn ca :" class="form-group">
          <el-select v-model="createForm.time" placeholder="">
            <el-option value></el-option>
            <el-option value="morning" label="Ca sáng [8:30~12:00]"></el-option>
            <el-option value="noon" label="Ca Chiều [13:00~17:30]"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="24">
        <el-form-item label="Mô tả công việc :" class="form-group">
          <el-input type="textarea" v-model="createForm.description" />
        </el-form-item>
      </el-col>
      <el-col :span="24">
        <el-form-item label="Yêu cầu thêm :" class="form-group">
          <el-input type="textarea" v-model="createForm.required" />
        </el-form-item>
      </el-col>
    </el-form>
  </el-row>
  <el-row class="form-submit">
    <el-col>
      <el-button class="main-btn" type="primary">Submit Form</el-button>
      <el-button class="main-btn" type="danger">Reset</el-button>
    </el-col>
  </el-row>
</div>