<div v-loading="isLoading" class="container">
  <el-row :gutter="20">
    <h2 class="p-3">Tạo phiếu yêu cầu thực tập</h2>
    <el-form 
      :rules="rules" 
      ref="ruleForm" 
      :model="createForm" 
      label-width="150px" 
      class="demo-ruleForm"
      :hide-required-asterisk="false">
      <el-col :span="12">
        <el-form-item prop="name" label="Tên phiếu yêu cầu :" class="form-group">
          <el-input type="text" v-model="createForm.name" name="name" required />
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item prop="amount" label="Số lượng cần tuyển :" class="form-group">
          <el-input-number :min="1" :max="100" controls-position="right" v-model="createForm.amount" required />
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item prop="position" label="Vị trí cần tuyển :" class="form-group">
          <el-input type="text" v-model="createForm.position" required />
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item prop="type" label="Hình thức làm việc :" class="form-group">
          <el-radio-group v-model="createForm.type" @change="isDisabledTimeWorkFunc()" class="form-radio-item">
            <el-radio label="fulltime" border>Fulltime</el-radio>
            <el-radio label="partime" border>Partime</el-radio>
          </el-radio-group>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item prop="status" label="Trạng thái phiếu :" class="form-group">
          <el-select v-model="createForm.status" placeholder="">
            <el-option value></el-option>
            <el-option value="1" label="Còn hiệu lực"></el-option>
            <el-option value="2" label="Hết hiệu lực"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item prop="time" label="Chọn ca làm việc :" class="form-group">
          <el-select :disabled="isDisabledTimeWork" v-model="createForm.time" placeholder="">
            <el-option value></el-option>
            <el-option value="morning" label="Ca sáng [8:30~12:00]"></el-option>
            <el-option value="noon" label="Ca Chiều [13:00~17:30]"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="24">
        <el-form-item prop="description" label="Mô tả công việc :" class="form-group">
          <el-input type="textarea" v-model="createForm.description" />
        </el-form-item>
      </el-col>
      <el-col :span="24">
        <el-form-item prop="required" label="Yêu cầu thêm :" class="form-group">
          <el-select v-model="createForm.required" multiple placeholder="">
            <el-option v-for="item in listAbilities" :key="item.id" :label="item.name" :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
      </el-col>
    </el-form>
  </el-row>
  <el-row class="form-submit">
    <el-col>
      <el-button class="main-btn" type="primary" @click="submit()">Submit Form</el-button>
      <el-button class="main-btn" type="danger" @click="clearError">Reset</el-button>
    </el-col>
  </el-row>
</div>