<div v-loading="isLoading" class="animated fadeIn page-container p-4">
  <el-form label-width="9rem" :model="registerRequest" name="editForm" role="form" novalidate>
    <el-row :gutter="20">
    <h2 class="text-center pb-3">Đăng ký thực tập</h2>
      <el-col :span="12">
        <el-form-item label="ID" v-if="registerRequest.id">
          <el-input class="width-13-rem" type="text" id="id" name="id" v-model="registerRequest.id" readonly ></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item label="Ngày tạo" v-if="false">
          <el-input class="width-13-rem" type="text" id="id" name="id" v-model="registerRequest.dateCreated" readonly ></el-input>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="12">
        <el-form-item label="Ngày bắt đầu">
          <el-date-picker
            class="width-13-rem" 
            v-model="registerRequest.startDate">
          </el-date-picker>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item label="Ngày kết thúc">
          <el-date-picker
            class="width-13-rem"
            v-model="registerRequest.endDate">
          </el-date-picker>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="12">
        <el-form-item label="Sinh viên đăng ký">
          <el-select placeholder="" 
            v-model="registerRequest.internRegister"
            value-key="id"
            :disabled="true">
            <el-option
              :value="internOption"
              :key="index"
              v-for="(internOption, index) in interns" 
              :label="internOption.lastName">
            </el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item label="Vị trí thực tập">
          <el-select id="register-request-requestRegister" 
            class="width-13-rem"
            name="requestRegister"
            placeholder=""
            value-key="id"
            v-model="registerRequest.requestRegister"
            :disabled="true">
            <el-option
              :value="requestOption"
              v-for="(requestOption, index) in requests" 
              :key="index" 
              :label="requestOption.position">
            </el-option>
          </el-select>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col class="text-center">
        <el-button @click="save" id="save-entity" class="btn btn-primary">
          Xác nhận
        </el-button>
        <el-button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="closeDialog()">
          Hủy
        </el-button>
      </el-col>
    </el-row>
  </el-form>
</div>