// fix perfect-scroll-bar
.pr-15 {
  padding-right: 15px !important;
}
.mr--15 {
  margin-right: -15px !important;
}
.ps__rail-x {
  display: none !important;
}
.ps__rail-y {
  width: 10px !important;
  z-index: 9;
}
.ps__thumb-y {
  width: 6px !important;
}
.scrollbar {
  padding-right: 1rem;
}
