// Variable overrides
$background-primary: #f9f9fc;
$background-header: #fff;
$background-aside: #37474f;
$background-aside-2: #607d8b;
$color-aside: #eceff1;
$background-header-old: #f2f3f8;
$border: #c8ced3;

$font: "メイリオ", "Meiryo", "Avenir", Helvetica, Arial, sans-serif;
$font-size: 14px;
$font-size-small: 11px;
$font-size-main: 12px;

$nav-background: white;
$nav-background-hover: #efefef;
$nav-background-active: #e4f0fe;

$color-gradient: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
$color-gradient-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
$color-primary: #009dff;
$color-secondary: #2786fb;
$color-warning: #ff5252;
$color-error: #f56c6c;

$color-admin: #2f353a;
$color-user: #c8ced3;

// mixin responsive
// man hinh =< 1366
@mixin small-desktop-down {
  @media (max-width: 1366px) {
    @content;
  }
}
// man hinh > 1366
@mixin small-desktop-up {
  @media (min-width: 1367px) {
    @content;
  }
}
