<div v-loading="isLoading" class="animated fadeIn page-container w3-container">
  <div v-if="intern">
    <!-- Header -->
    <header class="pt-3" id="PROFILE">
      <img src="https://www.w3schools.com/w3images/mountains.jpg" style="width:65px;" class="w3-circle w3-center w3-margin w3-hide-large w3-hover-opacity">
      <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
      <div class="w3-container">
        <h4><b>PROFILE</b></h4>
        <div class="w3-row-padding w3-padding">
          <div class=" w3-half w3-container w3-section text-left" style="padding-left:50px;">
            <p class="pb-3"><i class="fa fa-address-card w3-margin-right w3-large w3-text-teal"></i>Mã sinh viên: <b>{{intern.code}}</b></p>
            <p class="pb-3"><i class="fa fa-birthday-cake w3-margin-right w3-large w3-text-teal"></i>Ngày sinh: <b>{{intern.dateOfBirth}}</b></p>
            <p class="pb-3"><i class="fa fa-graduation-cap w3-margin-right w3-large w3-text-teal"></i>Lớp: <b>{{intern.className}}</b></p>
            <p class="pb-3"><i class="fa fa-calendar-check-o w3-margin-right w3-large w3-text-teal"></i>Ngày tham gia: <b>{{intern.joinDate}}</b></p>
            </div>
          <div class=" w3-half w3-container w3-section text-left" style="padding-left:100px;">
            <p class="pb-3"><i class="fa fa-address-card w3-margin-right w3-large w3-text-teal"></i>Tên đầy đủ: <b>{{intern.firstName}} {{intern.lastName}}</b></p>
            <p class="pb-3"><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Địa chỉ: {{ intern.address ? intern.address : 'Quận Bắc Từ Liêm, Hà Nội'}}</p>
            <p class="pb-3"><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>Email: <b>{{intern.email ? intern.email : ''}}</b></p>
            <p class="pb-3"><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>Số điện thoại: <b>{{intern.phone ? intern.phone : ''}}</b></p>
          </div>
        </div>
      </div>
      <hr>
    </header>
    <div class="w3-container" style="margin-bottom:32px" id="about">
      <h4><b>THÔNG TIN</b></h4>
      <!-- First Photo Grid-->
      <p class="w3-padding w3-center">{{intern.description ? intern.description : 'Năng động, hoạt bát'}}</p>
      <div class="w3-padding w3-row-padding">
        <div class="w3-half w3-container w3-margin-bottom">
          <img src="https://static2.yan.vn/YanNews/2167221/201901/sinh-vien-y-duoc-tinh-nguyen-dem-mua-xuan-den-voi-lam-dong-46feb4c3.jpg" alt="Norway" style="width:100%;height:350px" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Các hoạt động tham gia tình nguyện</b></p>
            <p>Tích cực, năng nổ tham gia các hoạt động tình nguyện.</p>
          </div>
        </div>
        <div class="w3-half w3-container w3-margin-bottom">
          <img src="https://www.vnu.edu.vn/upload/2013/07/14802/image/Bia%201.JPG" alt="Norway" style="width:100%;height:350px" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Các hoạt động tham gia tình nguyện</b></p>
            <p>Tích cực, năng nổ tham gia các hoạt động tình nguyện.</p>
          </div>
        </div>
      </div>
      
      <div id="skill">
        <h4><strong>KỸ NĂNG</strong></h4>
        <!-- Progress bars / Skills -->
        <div class='w3-padding'>
          <p><i class='fa fa-star w3-margin-right w3-large'></i><i>Java</i></p>
          <div style='background-color:#DFDFDF;'>
            <div class='w3-container w3-teal w3-padding w3-center' style="width: 80%;"><i></i></div>
          </div>
        </div>
        <hr>
        <div class='w3-padding'>
          <p><i class='fa fa-star w3-margin-right w3-large'></i><i>English</i></p>
          <div style='background-color:#DFDFDF;'>
            <div class='w3-container w3-teal w3-padding w3-center' style="width: 70%;"><i></i></div>
          </div>
        </div>
        <hr>
        <div class='w3-padding'>
          <p><i class='fa fa-star w3-margin-right w3-large'></i><i>VueJS</i></p>
          <div style='background-color:#DFDFDF;'>
            <div class='w3-container w3-teal w3-padding w3-center' style="width: 80%;"><i></i></div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>