<div v-loading="isLoading" class="animated fadeIn page-container w3-container">
  <h2 id="page-heading">
    <span id="register-request-heading">Danh sách phiếu đăng ký thực tập</span>
  </h2>
  <br />
  <div class="alert alert-warning" v-if="!isFetching && registerRequests && registerRequests.length === 0">
    <span>Không có phiếu đăng ký thực tập nào</span>
  </div>
  <div v-if="registerRequests && registerRequests.length > 0">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            <span>ID</span>
          </th>
          <th>
            <span>Sinh viên</span>
          </th>
          <th>
            <span>Vị trí thực tập</span>
          </th>
          <th>
            <span>Ngày bắt đầu</span>
          </th>
          <th>
            <span>Ngày kết thúc</span>
          </th>
          <th>
            <span>Ngày tạo</span>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="registerRequest in registerRequests" :key="registerRequest.id">
          <td>
            <router-link :to="{name: 'routes.register.view', params: {registerRequestId: registerRequest.id}}">
              {{registerRequest.id}}</router-link>
          </td>
          <td>
            <div v-if="registerRequest.internRegister">
              <router-link :to="{name: 'InternView', params: {internId: registerRequest.internRegister.id}}">
                {{registerRequest.internRegister.firstName}} {{registerRequest.internRegister.lastName}}</router-link>
            </div>
          </td>
          <td>
            <div v-if="registerRequest.requestRegister">
              <router-link :to="{name: 'routes.request.view', params: {requestId: registerRequest.requestRegister.id}}">
                {{registerRequest.requestRegister.position}}</router-link>
            </div>
          </td>
          <td>{{registerRequest.startDate}}</td>
          <td>{{registerRequest.endDate}}</td>
          <td>{{registerRequest.dateCreated}}</td>
          <td class="text-right">
            <div class="btn-group">
              <router-link :to="{name: 'routes.register.view', params: {registerRequestId: registerRequest.id}}"
                tag="button" class="btn btn-info btn-sm details">
                <span class="d-none d-md-inline">Xem</span>
              </router-link>
              <router-link :to="{name: 'routes.register.edit', params: {registerRequestId: registerRequest.id}}"
                tag="button" class="btn btn-primary btn-sm edit">
                <span class="d-none d-md-inline">Sửa</span>
              </router-link>
              <b-button v-on:click="prepareRemove(registerRequest)" variant="danger" class="btn btn-sm"
                v-b-modal.removeEntity>
                <span class="d-none d-md-inline">Xóa</span>
              </b-button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <b-modal ref="removeEntity" id="removeEntity">
    <span slot="modal-title">
      <span id="demoApp.registerRequest.delete.question">Xác nhận xóa</span>
    </span>
    <div class="modal-body">
      <p id="jhi-delete-registerRequest-heading">Bạn chắc chắn muốn xóa phiếu đăng ký {{ instance ? instance.id : '' }} ?</p>
    </div>
    <div slot="modal-footer">
      <el-button type="button" class="btn btn-primary" id="jhi-confirm-delete-registerRequest"
        @click="removeRegisterRequest()">Xóa</el-button>
      <el-button type="button" class="btn btn-secondary" @click="closeDialog()">Hủy</el-button>
    </div>
  </b-modal>
  <!-- Dialog -->
  <b-modal :title="title" no-fade v-model="isInputRegisterVisible" :no-close-on-backdrop="true"
    :hide-footer="true" size="xl">
    <InputRegister
      v-if="isInputRegisterVisible"
      @close="finishScreen"
      :id="idProp">
    </InputRegister>
  </b-modal>
</div>