<div v-loading="isLoading" class="animated fadeIn page-container">
  <el-row>
    <el-col :span="4" class="left-content">
      <div class="header-block">
        <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-hover-grey" title="close menu">
          <i class="fa fa-remove"></i>
        </a>
        <img src="https://www.w3schools.com/w3images/avatar_g2.jpg" style="width:100px;" class="w3-round"><br><br>
        <h3><b>HUS</b></h3>
        <p class="w3-text-grey"><i>Intern</i></p>
      </div>
      <el-row :gutter="20">
        <el-col :span="24" class="text-left">
          <el-radio-group v-model="selectedTab" @change="openTab">
            <el-radio-button label="1" class="w3-bar-item w3-text-teal w-100 text-left"><i class="fa fa-th-large fa-fw w3-margin-right"></i>PROFILE</el-radio-button>
            <el-radio-button label="2" class="w3-bar-item w-100 text-left"><i class="fa fa-star fa-fw w3-margin-right"></i>KỸ NĂNG</el-radio-button>
            <el-radio-button label="3" class="w3-bar-item w-100 text-left"><i class="fas fa-user-edit fa-fw w3-margin-right"></i>SỬA THÔNG TIN</el-radio-button>
            <el-radio-button class="w3-bar-item w-100 text-left"><i class="fa fa-envelope fa-fw w3-margin-right"></i>LIÊN HỆ</el-radio-button>
          </el-radio-group>
        </el-col>
      </el-row>
    </el-col>
    <el-col class="right-content" :span="20">
        <InternPageDetail v-if="isProfileComponentVisible"></InternPageDetail>
        <!-- <InputRequest v-if="isInputRequestComponentVisible"></InputRequest> -->
        <Ability v-if="isAbilityComponentVisible"></Ability>
    </el-col>
  </el-row>
</div>