<div v-loading="isLoading">
  <perfect-scrollbar>
    <div id="about" class="w3-container">
      <h4><strong>THÔNG TIN</strong></h4>
      <div class="w3-row w3-large">
        <div class="w3-col s6" style="padding-left: 50px;">
          <p><i class="fa fa-fw fa-male"></i> Chúng tôi cần: <b>{{ requestModel.amount }}</b> người</p>
          <p><i class="fa fa-fw fa-check-square"></i> Số lượng đã đăng ký: {{ requestModel.register }}</p>
          <p><i class="fa fa-fw fa-clock-o"></i> Check In: 8:30 AM</p>
          <p><i class="fas fa-map-marker-alt"></i> Địa điểm làm việc: 334 Nguyễn Trãi, Thanh Xuân, Hà Nội</p>
        </div>
        <div class="w3-col s6" style="padding-left: 100px;">
          <p><i class="fa fa-fw fa-check"></i> Trạng thái: Còn hiệu lực</p>
          <p><i class="fas fa-check-double"></i> Đã được phân công: {{ requestModel.assignment }}</p>
          <p><i class="fa fa-fw fa-clock-o"></i> Check Out: 5:30 PM</p>
          <p><i class="fas fa-calendar-alt"></i> Hình thức làm việc: {{ requestModel.type }}</p>
        </div>
      </div>
      <hr>
      
      <h4><strong>MÔ TẢ CÔNG VIỆC</strong></h4>
      <p>• {{ requestModel.description }}</p>
      <p>• Tham gia triển khai dự án nền tảng ngân hàng số, trực tiếp lập trình và hỗ trợ các thành viên trong nhóm lập trình (Java/JavaScripts)</p>
      <p>• Tiếp nhận chuyển giao công nghệ từ nhà cung cấp giải pháp</p>
      <p>• Chủ động cập nhật các xu hướng, công nghệ, giải pháp mới nhằm đề xuất những ứng dụng đáp ứng tốt hơn nhu cầu của Khách hàng và các bộ phận trong Ngân hàng</p>
      <hr>

      <h4><strong>PHÚC LỢI</strong></h4>
      <div class="w3-row w3-large">
        <div class="w3-col s6" style="padding-left: 50px;">
          <p><i class="fas fa-volleyball-ball"></i> Playing</p>
          <p><i class="fa fa-fw fa-wifi"></i> WiFi</p>
          <p><i class="fa fa-fw fa-tv"></i> Equipment</p>
        </div>
        <div class="w3-col s6"style="padding-left: 100px;">
          <p><i class="fa fa-fw fa-cutlery"></i> Banquet</p>
          <p><i class="fa fa-fw fa-thermometer"></i> Heating</p>
          <p><i class="fa fa-fw fa-wheelchair"></i> Accessible</p>
        </div>
      </div>
      <div>
        <h4>Ngoài ra, bạn sẽ được hưởng:</h4>
        <p>• Mức lương hỗ trợ từ 3 triệu VND trở lên</p>
        <p>• Môi trường làm việc chuyên nghiệp</p>
        <p>• Có cơ hội thăng tiến, đào tạo</p>
      </div>
      <!-- Contact -->
      <div class="w3-container" id="contact" style="margin-bottom:120px">
        <h2>LIÊN HỆ</h2>
        <i class="fa fa-map-marker" style="width:30px"></i> 334 Nguyễn Trãi, Thanh Xuân, Hà Nội<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: 0349.749.393<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: tranthanhnga_t61@hus.edu.vn<br>
      </div>
    </div>
  </perfect-scrollbar>
  <el-row>
    <el-col :span="12" class="text-left">
      Powered by 
      <a href="./" title="Origen" target="_blank" class="w3-hover-text-green">Origen</a>
    </footer>
    </el-col>
    <el-col :span="12" class="text-right">
      <el-button @click="closeWindow">Trở về</el-button>
    </el-col>
  </el-row>
</div>