<div>
  <h2 id="page-heading">
      <span id="organization-heading">Danh sách các doanh nghiệp</span>
  </h2>
  
  <br/>
  <div class="alert alert-warning" v-if="organizations && organizations.length === 0">
      <span>Không tìm thấy doanh nghiệp nào!</span>
  </div>
  <div v-if="organizations && organizations.length > 0">
      <table class="table table-striped">
          <thead>
          <tr>
              <th><span>ID</span></th>
              <th><span>Tên</span></th>
              <th><span>Mã số thuế</span></th>
              <th><span>Email</span></th>
              <th><span>Liên hệ</span></th>
              <th><span>Địa chỉ</span></th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="organization in organizations"
              :key="organization.id">
              <td>
                  <router-link :to="{name: 'OrganizationView', params: {organizationId: organization.id}}">{{organization.id}}</router-link>
              </td>
              <td>{{organization.name}}</td>
              <td>{{organization.taxNumber}}</td>
              <td>{{organization.email}}</td>
              <td>{{organization.contact}}</td>
              <td>{{organization.address}}</td>
          </tr>
          </tbody>
      </table>
  </div>
  <!-- <b-modal ref="removeEntity" id="removeEntity" >
      <span slot="modal-title"><span id="demoApp.organization.delete.question">Confirm delete operation</span></span>
      <div class="modal-body">
          <p id="jhi-delete-organization-heading">Are you sure you want to delete this Organization?</p>
      </div>
      <div slot="modal-footer">
          <button type="button" class="btn btn-secondary" v-on:click="closeDialog()">Cancel</button>
          <button type="button" class="btn btn-primary" id="jhi-confirm-delete-organization" v-on:click="removeOrganization()">Delete</button>
      </div>
  </b-modal> -->
</div>